* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ABOUT SECTION */
.about {
  padding: 20px 20px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.about-image {
  height: 200px;
  width: 100%;
}
.about-image img {
  height: 100px;
  width: 100%;
}
.about-me {
  margin-top: 20px;
  line-height: 1.5;
  color: rgb(47, 46, 65);
  font-size: 17px;
}
#surname {
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 980px) {
  .about {
    padding: 100px 20px;
  }
}
@media (max-width: 900px) {
  /* ABOUT SECTION */
  .about {
    padding: 100px 50px;
  }
}
